<!DOCTYPE  lang="en" html >
<html ng-app="HotelApp">
	<head>
		<title>Hotel Fantastique</title>
		<link rel="stylesheet" href="assets/css/css.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.css" />
        <link rel="stylesheet" href="assets/css/flexslider.css" type="text/css" media="screen" />
               
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body>
    
		<header class="header">
			<h1 class="hotel_name">Hotel Fantastique <span class="stars">★★★★★</span></h1>
			<address class="hotel_address">72b Rue de Awesome, 75001, Paris, France</address>
		</header>
		

        <section class="slider photos">
        <div id="slider" class="flexslider">
          <ul class="slides">
            <li>
  	    	    <img src="assets/img/1_large.jpg" />
                <span>description of photo 1</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/2_large.jpg" />
                <span>description of photo 2</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/3_large.jpg" />
                <span>description of photo 3</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/4_large.jpg" />
                <span>description of photo 4</span>
  	    		</li>
            <li>
  	    	    <img src="assets/img/5_large.jpg" />
                <span>description of photo 5</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/6_large.jpg" />
                <span>description of photo 6</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/7_large.jpg" />
                <span>description of photo 7</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/8_large.jpg" />
                <span>description of photo 8</span>
  	    		</li>
            <li>
  	    	    <img src="assets/img/9_large.jpg" />
                <span>description of photo 9</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/10_large.jpg" />
                <span>description of photo 10</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/11_large.jpg" />
                <span>description of photo 11</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/12_large.jpg" />
                <span>description of photo 12</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/13_large.jpg" />
                <span>description of photo 13</span>
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/14_large.jpg" />
                <span>description of photo 14</span>
  	    		</li>
          </ul>
        </div>
        <div id="carousel" class="flexslider">
          <ul class="slides">
            <li>
  	    	    <img src="assets/img/1_thumb.jpg" alt="description of photo 1" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/2_thumb.jpg" alt="description of photo 2" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/3_thumb.jpg" alt="description of photo 3" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/4_thumb.jpg" alt="description of photo 4" />
  	    		</li>
            <li>
  	    	    <img src="assets/img/5_thumb.jpg" alt="description of photo 5" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/6_thumb.jpg" alt="description of photo 6" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/7_thumb.jpg" alt="description of photo 7" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/8_thumb.jpg" alt="description of photo 8" />
  	    		</li>
            <li>
  	    	    <img src="assets/img/9_thumb.jpg" alt="description of photo 9" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/10_thumb.jpg" alt="description of photo 10" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/11_thumb.jpg" alt="description of photo 11" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/12_thumb.jpg" alt="description of photo 12" />
  	    		</li>
            <li>
  	    	    <img src="assets/img/13_thumb.jpg" alt="description of photo 13" />
  	    		</li>
  	    		<li>
  	    	    <img src="assets/img/14_thumb.jpg" alt="description of photo 14" />
  	    		</li>
          </ul>
        </div>
        </section>
	
		<section class="description">
			<h2>Description</h2>
			<p>Located in the heart of Paris, this 5-star hotel offers elegant guest rooms in a Hausmannian-style building. It features a fitness centre, a concierge and a tour desk with ticket service.</p>
			<p>Decorated in a unique style, the air-conditioned guest rooms at the Hotel du Louvre are equipped with satellite TV, a minibar and free Wi-Fi access. Some rooms feature a seating area. All rooms have a private bathroom, some include marble features.</p>
			<p>The hotel restaurant, Brasserie du Louvre, has a traditional Parisian decor and serves traditional French cuisine. A buffet breakfast is served every morning. Guests can also enjoy a cocktail and jazz evenings twice a week in the Defender Bar.</p>
			<p>The 4 facades and terrace of this hotel overlook the famous Louvre Museum, the Opéra Garnier and the Comédie Française theatre.</p>
			<p>Hotel du Louvre is situated 2 minutes from Palais Royal Metro Station, providing direct access to the Champs Elysees and the Place de la Bastille. Public parking is available nearby.</p>
		</section>
		
		<section class="facilities">
			<h2>Facilities</h2>
			<ul>
				<li>Free Wifi</li>
				<li>Swimming Pool</li>
				<li>Gym</li>
				<li>24/7 reception</li>
				<li>Concierge</li>
				<li>Restaurant</li>
				<li>Free Parking</li>
				<li>Shoe-Shine</li>
				<li>Satellite TV</li>
				<li>Room Service</li>
			</ul>
		</section>
		
		<section class="rooms">
			<h2>Select Your Room</h2>
			<form method="post" action="" class="rooms_table_form">
				<table class="rooms_table" cellspacing="0" cellpadding="0" ng-controller="RoomsList" id="Rooms">
					<thead>
						<tr>
							<th class="room_name">Room Name</th>
							<th class="room_occupancy"><a href="" ng-click="predicate = 'room_occupancy'; reverse=false">Occupancy</a></th>
							<th class="room_price"><a href="" ng-click="predicate = 'room_price'; reverse=false">Price per Room</a></th>
							<th class="room_quantity">No. Rooms</th>
						</tr>
					</thead>
					<tbody>
						<tr class="one_room" ng-repeat="Room in Rooms | orderBy:predicate:reverse"">
							<td class="room_name"><a href="javascript:void(0);" class="Ttip" onclick="ToolTip(this);">{{Room.room_name}}</a> 
    <div class="popover fade right in"><div class="arrow"></div><h3 class="popover-title">{{Room.room_name}}
    <button type="button" class="close" onclick="ToolTipout();">×</button>
    </h3><div class="popover-content">{{Room.room_Details}}<br><br>{{Room.room_Details2}}<br><br>{{Room.room_Details3}}<br>{{Room.room_Details4}}</div></div>
                            </td>
							<td class="room_occupancy">{{Room.room_occupancy}}</td>
							<td class="room_price">&euro;{{Room.room_price}}</td>
							<td class="room_quantity" id="Sel">
								<select onclick="Calc();">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</td>
						</tr>																																															
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4">
                                <h3 id="Res">Total  <span id="result">0</span></h3>
								<button id="Book_Now" class="button" type="submit">Book Now</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
		</section>





		<section class="reviews" ng-controller="ReviewsList">
			<h2>Reviews</h2>
            <select ng-model="orderProp">
                <option value="-score">High Score</option>
                <option value="score">Low Score</option>
             </select>
			<ul class="reviews_list">
				<li ng-repeat="Review in Reviews | orderBy:orderProp | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" class="one_review">
					<strong class="review_score">{{Review.score}}</strong>
					<blockquote class="review_content">
						{{Review.content}}
						<cite>{{Review.cite}}</cite>
					</blockquote>
				</li>																																																																																																																																																																																																											
			</ul>

            <div class="pagination">
              <ul>
                <li ng-class="prevPageDisabled()">
                  <a href ng-click="prevPage()">« Prev</a>
                </li>
                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                  <a href="javascript:void(0);">{{n+1}}</a>
                </li>
                <li ng-class="nextPageDisabled()">
                  <a href ng-click="nextPage()">Next »</a>
                </li>
              </ul>
            </div>

		</section>
        
        
<section class="landmarks" ng-controller="landmarks">
<h2>landmarks</h2>
	<ul class="landmarksList">
    	<li ng-repeat="landmark in landmarks">
        	<a href="javascript:void(0);">
        	<img ng-src="{{landmark.imgurl}}" alt="{{landmark.title}}">
            <span>{{landmark.title}}</span>
            </a>
        </li>
    </ul>

</section>   
        

<section class="SHotel" ng-controller="SimilarHotel">
<h2>Similar Hotels</h2>
	<section class="Blsimilar" ng-repeat="Hotel in Hotels">
    	<h4><a href="#">{{Hotel.Title}}</a></h4>
        <a href="#" class="imgS"><img ng-src="{{Hotel.imageUrl}}" alt="{{Hotel.alt}}" /></a>
        <p>
        	{{Hotel.cont}}
        </p>
        <cite>
        	{{Hotel.booking}}
        </cite>
        <hr />
        <span>{{Hotel.Score}}</span>
        <a href="#" class="SCor">{{Hotel.ScoreN}}</a>
        <hr />
        <span>Totale prijs vanaf:</span>
        <a href="#" class="Total">€{{Hotel.total}}</a>
        <hr />
        <button id="Reserve" class="button" type="submit">Reserveer nu</button>
    </section>
</section>









		<section class="footer">
			&copy;2014 Booking.com
		</section>


		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/angular.js"></script>
		<script src="assets/js/js.js"></script>

        <script defer src="assets/js/jquery.flexslider.js"></script>
          <script type="text/javascript">
		
        function ToolTip(C,e){ToolTipout();$(C).next().slideDown();};
		function ToolTipout(){$('.room_name .popover').slideUp();};
        
        
        
               function Calc() {
                  $('#Rooms tbody tr select').change(function () {
                      var rows = $("#Rooms tbody tr");
                      var Totle = 0;
                      rows.each(function (i) {
                          var qty = $("#Rooms tbody tr:eq(" + i + ") td select").val();
                          var rate = $("#Rooms tbody tr:eq(" + i + ") select").closest('td').prev('td').text();
                          var rateC = rate.substring(1)
                          var amount = qty * rateC;
                          Totle = Totle + amount;
                      });
                      $('#result').text('€' + Totle);
                  });
              };
        </script>
        <script src="assets/js/jquery.mousewheel.js"></script>
        <script defer src="assets/js/Slider.js"></script>


	</body>
</html>